.App {
  text-align: center;
}

.app-header {
  display: flex;
  margin: 0;
  padding: 8px;
  align-items: center;
  box-sizing: border-box;
  background-color: #444;
  color: #eee;
}

.app-header-content {
  margin: 0;
  padding: 0;
  text-shadow: 2px 2px 2px black;
  flex: 1;
}

.list-map-container {
  display: flex;
  height: 100%;
}

.searchable-list-container {
  min-width: 200px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.places-list {
  text-align: left;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

.searchable-list-container__invisible {
  display: none;
}

.searchable-list-container__visible {
  display: flex;
}

.places-list li {
  padding: 10px;
  box-sizing: border-box;
  transition: 0.5s all;
}

.places-list li:after {
  content: "";
  height: 1px;
  width: 100%;
  display: block;
  opacity: 0.5;
  background-image: linear-gradient(to right, #eee, #666, #eee);
}

.places-list li:hover, .places-list li.selected {
  cursor: pointer;
  color: #eee;
  background-color: #444;
}

.places-list li.selected {
  font-weight: bold;
  text-decoration: underline;
}

.map-container {
  flex: 3;
}

.ham_menu {
  cursor: pointer;
}

@media screen and (min-width: 700px) {
  .ham_menu {
    display: none;
  }
  .searchable-list-container {
    display: flex;
    flex: 1;
  }
}

.input-text-filter {
  padding: 5px;
  margin: 10px;
}

.more-details-link {
  border-radius: 3px;
  background-color: green;
  color: white;
  padding: 10px;
  text-decoration: none;
}

.place-details h2 {
  padding: 0;
  margin: 5px;
}

.place-details .fourscore-img {
  max-width: 150px;
  padding: 5px;
}

.rating-and-link-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#select_place_label {
  text-align: left;
  padding: 5px;
  color: green;
}

.error-panel {
  position: fixed;
  bottom: 2%;
  left: 2%;
  width: 96%;
  opacity: 0.8;
  transition: 0.3s all;
  background-color: rgb(250, 32, 32);
  border-radius: 15px;
}

.error-panel:hover {
  opacity: 1.0;
}
.error-panel p {
  color: lightgray;
}

#input-text-filter-label {
  margin-left: -10000px;
  position: absolute;
}