.App {
  text-align: center;
}

.app-header {
  display: flex;
  margin: 0;
  padding: 8px;
  align-items: center;
  box-sizing: border-box;
  background-color: #444;
  color: #eee;
}

.app-header-content {
  margin: 0;
  padding: 0;
  text-shadow: 2px 2px 2px black;
  flex: 1;
}

.list-map-container {
  display: flex;
  height: 100%;
}

.places-list {
  text-align: left;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  min-width: 200px;
  transition: 1s all;
  transform: translateX(-100%);
  flex: 0;
}

.places-list__visible {
  transform: none;
  flex: 1;
}

.places-list li {
  padding: 10px;
  box-sizing: border-box;
  transition: 0.5s all;
}

.places-list li:hover {
  cursor: pointer;
  color: #eee;
  background-color: #444;
}

.map-container {
  flex: 3;
}

.ham_menu {
  cursor: pointer;
}

@media screen and (min-width: 700px) {
  .ham_menu {
    display: none;
  }

  .places-list {
    transform: none;
    flex: 1;
  }
}